<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='icon.png') }}" />
    <title>Stable Diffusion Application on ngrok and Flask</title>
</head>
<body>
    <h1>Stable Diffusion Application on ngrok and Flask</h1>
    <p>Generate images with stable diffusion as test. Enter your prompt below and hit "Create" to generate an image (wait till image is generated for few moments).</p>

    <form action="\submit-prompt" method="post" id="submission-form">
        <ul>
            <li>
                <label for="prompt">User Prompt:</label>
                <input type="text" id="prompt" name="prompt-input" />
            </li>
            <li class="button">
                <button type="submit">Create Image</button>
            </li>
        </ul>
    </form>

    <!-- Image display area -->
    {% if generated_image %}
        <div id="image-display">
            <img src="{{ generated_image }}" alt="Generated Image" />
            <a href="{{ generated_image }}" download="generated_image.png">
                <button>Download Image</button>
            </a>
        </div>
    {% endif %}
</body>
</html>
